*,
html {
  /* padding will stretch the page 
    prevents from happening horizontal scroll bar*/
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  min-height: 100vh; /*stretch the height 100%*/
  background-color: #6589f9;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 5px;
  background-color: #6589f9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
}

/* add css to show which selected  */
.selected {
  border: 4px solid blue;
}

/* if matched then bg-image is none */
.match {
  border: 4px solid red;
  background-image: None !important;
}
.aftermatch {
  border: None;
}
